extends ../template

block variables
    - var header__title = 'Блог'
    - var header__info = 'Статьи, которые я написал'

block content
    section.header
        .header__bg
        .container
            .header__social
                include ../module/social
            .header__menu
                .hamburger.js-hamburger
                    a.hamburger__link(href="")
                        .hamburger__img
            .header__user
                .user
                    .user__img
                        img.user__img-pic(src="./images/user2.jpg")
                    h1.name-content.name-content_sz-49
                        |#{title}
                    .name-content__label
                        | <svg class="name-content__label-pic">
                        | <use xlink:href="./images/svg/symbols.svg#blog_header"></use>
                        | </svg>
                    .user__info
                        |Статьи, которые я написал
            .header__btn
                a.btn-arrow(href="#")
                    | <svg class="btn-down">
                    | <use xlink:href="./images/svg/symbols.svg#portf_arrow_down"></use>
                    | </svg>

    main.content
        .block-triangle
            .block-triangle__left
                | <svg class="triangle-left" viewBox="0 0 1000 225" preserveAspectRatio="none">
                | <polygon points="0,0 0,225 1000,225 1000,155"></polygon>
                | </svg>
            .block-triangle__right
                | <svg class="triangle-right" viewBox="0 0 1000 225" preserveAspectRatio="none">
                | <polygon points="0,225 1000,225 1000,0 0,155"></polygon>
                | </svg>
        .container
            .container-page
                .block-left
                    .nav-article.js-nav-article
                        ul.nav-article__list
                            each index,key  in articles
                                if key == 0
                                    li.nav-article__items.nav-article__items-active(data-name="article-"+key)= index.title
                                else
                                    li.nav-article__items(data-name="article-"+key)= index.title
                    .block-left__link


                .block-right.js-block-right-articles
                    each index,key in articles
                        article.article(data-name="article-"+key)
                            if(index.error)
                                .article__title= index.error
                            else
                                .article__title= index.title
                                -
                                    var options = {
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric',
                                    };
                                    var date= new Date(index.date).toLocaleString("en-US", options);
                                date
                                    .article__date= date

                                .article__text= index.text


    include ../module/footer